MONGO_URL=mongodb://localhost:27017
DB_NAME=sereni_db
CORS_ORIGINS=*
EMERGENT_LLM_KEY=your_emergent_llm_key_here
JWT_SECRET=your_jwt_secret_key_here
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
